{% from itertools import groupby %}
{% from operator import itemgetter %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}{% end block %} :: magpie
    </title>
    {% if theme is not None and theme != '' %}
      <link rel="stylesheet" href="{{ theme }}" />
    {% else %}
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    {% end if %}
    <link rel="stylesheet" href="{{ static_url('style.css') }}" />
    <link rel="icon" type="image/jpeg" href="{{ static_url('magpie.jpg') }}" />
  </head>
  <body {% block bodytag %}{% end block %}>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
            Menu
          </button>
          <a class="navbar-brand" href="#">Magpie</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-home"></span>
                Home
              </a>
            </li>

            <li>
              <a href="/config">
                <span class="glyphicon glyphicon-wrench"></span>
                Settings
              </a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-book"></span>
                Notebooks
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
{% for notebook in notebooks %}
  {% if notebook != '.git' %}
                <li {% if notebook_name == notebook %}class="active"{% end if %}>
                  <a href="/{{ url_escape(notebook) }}">
                    {{ notebook }}
                  </a>
                </li>
  {% end if %}
{% end for %}
              </ul>
            </li>
          </ul>

          <button class="btn btn-primary btn-sm navbar-btn hidden-xs" data-toggle="modal" data-target="#notebookModal">
            <span class="glyphicon glyphicon-plus"></span>
            New Notebook
          </button>
          <button class="btn btn-primary btn-block navbar-btn visible-xs" data-toggle="modal" data-target="#notebookModal">
            <span class="glyphicon glyphicon-plus"></span>
            New Notebook
          </button>

          <form method="GET" action="/search" class="navbar-form navbar-right hidden-sm hidden-xs" role="search">
            <div class="input-group">
              <input type="search" name="q" id="search" class="form-control" size="15" placeholder="Search" tabindex="10">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <form method="GET" action="/search" class="visible-sm visible-xs" role="search">
            <div class="form-group">
              <div class="input-group">
                <input type="search" name="q" id="search" class="form-control" size="15" placeholder="Search" tabindex="10">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </div>
          </form>

{% if notebook_name != u'' %}
          <!-- new note button exposes new note form -->
          <div class="form-group">
            <a href="#" class="btn btn-primary btn-block" id="new_note_btn" onclick="$(this).addClass('active');$('#new_note_form').removeClass('hidden');">
              <span class="glyphicon glyphicon-plus"></span>
              New Note
            </a>
          </div>
          <!-- hidden note form -->
          <form class="well hidden" id="new_note_form">
            <div class="form-group">
              <label for="new_note_name" class="sr-only">New Note Name</label>
              <input type="text" name="new_note_name" class="form-control" id="new_note_name" placeholder="Note Name">
            </div>
            <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-block btn-danger" onclick="$('#new_note_btn').removeClass('active');uitoggler(this);">Cancel</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-block btn-primary" onclick="new_note(this);">Create</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>

          <ul class="nav nav-pills nav-stacked">
{# iterate through existing notes #}
{% for note in notes %}
            <li class="{% if note == note_name %}active{% end if %}">
              <a href="/{{ url_escape(notebook_name) }}/{{ url_escape(note) }}">
                {% if '%s/%s' % (notebook_name, note) in starred_notes %}
                  <span class='glyphicon glyphicon-star'></span>
                {% else %}
                  <span class='glyphicon glyphicon-star-empty'></span>
                {% end if %}
                {{ note }}
              </a>
            </li>
{% end for %}
          </ul>
          <br>
{% end if %}
        </div>

        <div class="col-sm-8 col-md-9 col-lg-10">
          {% block body %}
          {% end block %}
        </div>
      </div>
    </div>

    <div class="modal fade" id="notebookModal" tabindex="-1" role="dialog" aria-labelledby="notebookModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="notebookModalLabel">New Notebook</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="new_notebook_name" class="sr-only">New Notebook Name</label>
                <input type="text" name="new_notebook_name" class="form-control" id="new_notebook_name" placeholder="Notebook Name">
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-xs-6">
                  <button type="button" class="btn btn-block btn-primary" onclick="new_notebook(this);">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      //helpers
      var uitoggler = function(self){
        $(self).parents("form").first().addClass("hidden");
      };
      var new_notebook = function(self){
        var name = '/' + encodeURIComponent($("#new_notebook_name").val());
        $.post(name).done(function(){
          window.location = name;
        });
      };
      var new_note = function(self){
        var name = '/{{ url_escape(notebook_name) }}/' + encodeURIComponent($("#new_note_name").val()).replace(/#/g, '%23');
        $.post(name, data = {
           save: true
          ,note: ''
        }).done(function(){
          window.location = name;
        });
      };
    </script>
    {% block js %}
    {% end block %}
  </body>
</html>
